/* Global */
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.overlap {
    display: flex;
    flex-direction: column;
}

#profile-image {
    margin-top: -150px;
}

.hero-section {
    background-image: linear-gradient(#6a6cd4, #6a6cd400), url("./images/headerBackground.png");
    background-repeat: round space;
    padding: 10px 5%;
    color: white;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero-title {
    display: inline-block;
    border: solid 1px white;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 15% 0;
    position: relative;
}

h1 {
    font-weight: inherit;
    padding: 0;
    margin: 0;
}

.section {
    padding: 30px 5% 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: inherit;
}

.description {
    max-width: 800px;
    font-size: 18px;
    margin: 0;
}

.work {
    background-color: #f0f2fa;
}

.card-layout {
    display: flex;
    gap: 40px;
}

.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    font-size: 16px;
    font-weight: 600;
    color: #6a6cd4;
}

.card-description {
    font-weight: 200;
}

/* Form */
.contact-label {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    width: 100%;
}

.name-email {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#form-name,
#form-email {
    width: 50%;
    padding: 15px;
    font-family: inherit;
    font-weight: inherit;
}

#form-message {
    padding: 15px 15px 50px;
    font-family: inherit;
    font-weight: inherit;
}

.contact-form {
    border: 2px solid #ABACB0;
    border-radius: 3px;
    font-size: 18px;
}

#send-button {
    padding: 20px 50px;
    background-color: #6580DD;
    font-size: 18px;
    color: white;
    font-family: inherit;
    font-weight: inherit;
    align-self: center;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
}

/* footer */

footer{
    padding: 50px 5%;
    background-color: #f0f2fa; 
}

.social-button {
    padding: 10px 40px;
    margin: 0 10px;
    border: 0;
    border-radius: 3px;
}

.github {
    background-color: #838797;
}

.linkedIn {
    background-color: #5C83BD;
}

#profile-image img {
    animation: floatAnimation 3s infinite alternate;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.card-image {
    transition: transform 0.3s ease-in-out;
}

.card-image:hover {
    transform: translateY(-10px);
}

